In [2]:
import numpy as np
import pandas as pd

In [3]:
np.random.randint(100, 1000)

649

In [12]:
pd.DataFrame(np.random.randint(85, 99, size=(2,1)), index = [101,102], columns=['Deliverability Rate'])

     Deliverability Rate
101                   89
102                   92

In [13]:
pd.DataFrame({
    'a': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I'],
    'b': [28, 55, 43, 91, 81, 53, 19, 87, 52]
})

   a   b
0  A  28
1  B  55
2  C  43
3  D  91
4  E  81
5  F  53
6  G  19
7  H  87
8  I  52

In [8]:
pd.DataFrame(np.round(np.random.uniform(85, 99, size=(2,1)),2), index= [150, 445], columns=['a'])

         a
150  96.68
445  89.40